
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}


.banner{
    position: relative;
}

.banner .text-banner{
    position: absolute;
    top: 250px;
    left: 250px;
    width: 33%;
    height: 200px;
    background-color: #fff;
    opacity: 0.9;
    padding: 30px ;
}

.banner .text-banner h1{
    font-weight: bold;
    color: red;
    font-family: 'Asap', sans-serif;
}

.banner .text-banner p{
    color:#3f3424;
    font-weight: bold;
    line-height: 1.6;
    font-family: "Asap_light";
}

.banner .text-banner h1, p{
    padding-bottom: 10px;
}

.banner .text-banner .price{
    background-color: brown;
    display: inline;
    padding: 15px 20px;
    position: absolute;
    right: 40px;
    top: 170px;
    color: #fff;
    border-radius:5px ;
}
@font-face{
    font-family: "Asap_sans";
    src: url(./font/Asap-Regular.ttf);
}

@font-face{
    font-family: "Asap_medium";
    src: url(./font/Asap-Medium.ttf);
    font-weight: 100;
}

@font-face{
    font-family: "Asap_light";
    src: url(./font/Asap-Light.ttf);
}

