*{
    margin: 0;
    padding: 0;
}
.item{
    padding: 20px 0;
    width: 800px;
    height: 180px;
    display: flex;
    justify-content: center;
    position: relative;
}

.line{
    border: 1px solid;
    position: absolute;
    height: 100px;
    left: 450px;
}

.text1{
    width: 220px;
    position: absolute;
    left: 220px;

}

.year1{
    position: absolute;
    left: 480px;
}